*{
 
}


.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(77, 134, 168);
    width: 20%;
    height: 100vh;
    position: fixed;
}

.right{
   
    width: 80%;
    padding-left: 20%;
}

.laayout{
    display: flex;
    
}

.image{
    width:80%;
    margin-top :20px;
}

.btn{

    background-color: white;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.btn:hover{
    cursor : pointer;
}




.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: solid black;
    border-radius: 30px;
    margin-top: 25vh;
    margin-left: 20vw;
    margin-right: 20vw;

}

.comp{

    background-color: inherit;
    padding:10px 10px 0px 10px;
    margin:0;
}


.right{
    
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board{

    width: 90%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row{
    
    width: 100%;

    display: flex;
    height: 10%;
    flex-direction: row;
}

.box{
    display: flex;
    flex-direction: column-reverse;
    aspect-ratio: 1/1;
    width: 10%;
    padding: 10px;
}

.icon1{
    background-color: rgb(4, 0, 0);
    height: 100%;
    aspect-ratio: 1/1;
    margin-right: 5%;
}

.icon2{
    border-radius: 50%;
    background-color: rgb(8, 6, 6);
    height: 100%;
    aspect-ratio: 1/1;
}

.players{
    height: 30%;
    display: flex;
    flex-direction: row;
}

.arrow{
    opacity: 1;
}